<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Mission Medics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/mission-medics-icon.png', v=1) }}">
</head>
<body>
    <nav class="navbar">
        <img src="{{ url_for('static', filename='assets/mission-medics-logo.png') }}" alt="Logo" class="logo-image-navbar">
        <a href="/" class="nav-btn active">About Us</a>
        <a href="/donate" class="nav-btn">Donate Supplies</a>
        <a href="/get-supplies" class="nav-btn">Get Supplies</a>
        <a href="/support" class="nav-btn">Support</a>
    </nav>

    <div class="main-container">
        <section class="page-section">
            <h1 class="section-heading" style="margin-bottom:-1.3%;">Mission M.E.D.I.C.S</h1>
            <p id="small-font-medics">Medical Equipment Donation Initiative for Community Support</p>
            <div class="glass-card">
                <p class="card-text">We are a nonprofit organization dedicated to helping those in need of medical supplies. We redistribute and refurbish medical equipment around the community. </p>
                <img src="{{ url_for('static', filename='assets/mission-medics-logo.png') }}" alt="Logo" style="width: 400px; margin: -3px 0 12px;">
                <p class="card-text">Contact us at support@mission-medics.org, or +1 (646)-374-8775.</p>
            </div>
        </section>
    </div>
    <a href="/login" class="staff-login-btn">Staff Login</a>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>