<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About - Mission Medics</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css', v=2) }}">
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='assets/mission-medics-icon.png', v=1) }}">
</head>
<body>
    <nav class="navbar">
        <img src="{{ url_for('static', filename='assets/mission-medics-logo.png') }}" alt="Logo" class="logo-image-navbar">
        <a href="/" class="nav-btn">About Us</a>
        <a href="/donate" class="nav-btn">Donate Supplies</a>
        <a href="/get-supplies" class="nav-btn">Get Supplies</a>
        <a href="/support" class="nav-btn">Support</a>
    </nav>

    <div class="main-container">
      {% block content %}{% endblock %}
    </div>

    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>